ul{
    list-style-type: none;
    padding-left: 380px;
    width: 100%;
    margin: -130px;
    position: fixed;
    overflow: hidden;
    background-color: black;  
}
li{
    text-transform: uppercase;
    margin-right: 10px;
    float: left;
    font-size: 25px;
}
a{
    color: white;
    display: block;
    letter-spacing: 2px;
    text-decoration: none;
    background:  black;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}
a:hover{
    transition: 0.8s;
    background-color: white;
    color: black;
    font-family: "proxima nova bold", "Helvetica Neue", "Helvetica", "Arial", Sans-serif;
}
h1{
    margin-top: 129.6px;
      font-weight: normal;
      position: relative;
      text-align: center;
      letter-spacing: 2px;
      text-decoration: underline;
      color: white;

      display: block;
      font-size: 4.0rem;
      line-height: 1.2;
      font-family: "proxima nova bold", "Helvetica Neue", "Helvetica", "Arial", Sans-serif;
  }
  body{
    font-family: "proxima nova bold", "Helvetica Neue", "Helvetica", "Arial", Sans-serif;
      background-image: url(steve-harvey-U4wcrDteZ2Y-unsplash.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: top;
      background-size: cover;
      color: white;
      text-align: center;
  }
  .two ul{
      margin-top: 5px;
      padding-left: 280px;
        list-style-type: none;
        overflow: hidden;
        background: none;  
  }
 .two a{
    color: white;
    display: block;
    letter-spacing: 2px;
    text-decoration: none;
    background: none;
    text-align: center;
    font-weight: bold;
 }
 .two a:hover{
    transition: 0.8s;
    color: black;
    font-family: "proxima nova bold", "Helvetica Neue", "Helvetica", "Arial", Sans-serif; 
 }
 .two li{
    text-transform: capitalize;
    float: left;
    font-weight: bold;
    font-size: 25px;
 }
 p{
    font-family: "proxima nova bold", "Helvetica Neue", "Helvetica", "Arial", Sans-serif;;
    font-size: 30px;
    font-weight: bold;
 }
